# This file is optional if you are running via docker compose
# Please check `compose.yml` and define these variables directly
# inside `compose.yml` inside the "environment:" section.

DATA_DIR=/app/data
DEFAULT_LANGUAGE=en
DEFAULT_LOCATION=US

HOST_URL="0.0.0.0"
HOST_PORT="8960"

# you can generate one using following command:
# python -c "import secrets; print(secrets.token_hex())"
SECRET_KEY="change_me_please"
